* {
    margin: 0;
    padding: 0;
}

h1 {
    color: green;
}

body {
    text-align: center;
    margin: auto;
    background: black;
}

video {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.scene {
    z-index: 10;
    opacity: 0;
    transition: opacity 3s ease-in;
}

.scene.show {
    opacity: 1;
}
